<mat-toolbar>
    <img class="logo" src="../../assets/logolions2.png" alt="Lionshop">
    <span>Lion Shop</span>

    <div class="container2" style="margin: 20px;">
    <button mat-button routerLink="/" class="ms-2">Inicio</button>

    <button mat-button routerLink="../admin/productos" class="ms-2">
        Productos
    </button>

    
    <button mat-button routerLink="../login" class="ms-2">
        Iniciar sesión
    </button>

    <button mat-button routerLink="../register" class="ms-2">
        Registrate
    </button>

    <span class="spacer"></span>
</div>
</mat-toolbar>

<router-outlet></router-outlet>
